/* This style.css is setting up for global */

* {
  box-sizing: border-box;
}

/* flex sticky footer start */
html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.footer {
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 1%;
  background: #1b1c1d;
  color: white;
  text-align: center;
  margin-top: 5%;
  border-top: 1px solid gray;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
}

.main-area {
  width: 100%;
}
/* flex sticky footer end */

/* when screen is smaller put tags on top and remove sticky side area */

@media screen and (max-width: 767px) {
  .inner-wrapper {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .sticky-side-area {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 30%;
  }
}

/* transition for link */
a {
  transition: 0.2s;
}

/* large badge */
.badge-lg {
  font-size: 100%;
  font-weight: 600;
}
